In [3]:
import pandas as pd
from glob import glob

In [23]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import seaborn as sns

In [19]:
data_files = sorted(glob('C:/Users/User/Desktop/LoanData/LoanStats*.csv'))
data_files

['C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2016Q1.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2016Q2.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2016Q3.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2016Q4.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2017Q1.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2017Q2.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2017Q3.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2017Q4.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2018Q1.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2018Q2.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2018Q3.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2018Q4.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2019Q1.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2019Q2.csv',
 'C:/Users/User/Desktop/LoanData\\LoanStats_securev1_2019Q3.csv']

In [20]:
mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
                      for datafile in data_files)

C:\Users\User\AppData\Local\Temp\ipykernel_14396\3502216327.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
C:\Users\User\AppData\Local\Temp\ipykernel_14396\3502216327.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
C:\Users\User\AppData\Local\Temp\ipykernel_14396\3502216327.py:1: DtypeWarning: Columns (19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
C:\Users\User\AppData\Local\Temp\ipykernel_14396\3502216327.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
C:\Users\User\AppData\Local\Temp\ipykernel_14396\3502216327.py:1: DtypeWarning: Columns (118) have mixed types. Specify dtype option on import or set low_memory=False.
  mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
C:\Users\User\AppData\Local\Temp\ipykernel_14396\3502216327.py:1: DtypeWarning: Columns (129,130,131,134,135,136,139,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
C:\Users\User\AppData\Local\Temp\ipykernel_14396\3502216327.py:1: DtypeWarning: Columns (129,130,131,134,135,136,139,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
C:\Users\User\AppData\Local\Temp\ipykernel_14396\3502216327.py:1: DtypeWarning: Columns (144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)

In [29]:
# this is how many rows pandas will show by default with methods like pd.dataframe.head()
pd.options.display.max_rows

60

In [30]:
# we want to increase it, because in this case there are a lot of column names
pd.options.display.max_rows = 1000

In [34]:
mergeddata.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,sourcefilename
0,75710736,NaN,12800,12800,12800.0,36 months,11.99%,425.09,C,C1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,C:/Users/User/Desktop/LoanData\LoanStats_secur...
1,76143686,NaN,9000,9000,9000.0,36 months,15.31%,313.36,C,C5,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,C:/Users/User/Desktop/LoanData\LoanStats_secur...
2,76143234,NaN,8000,8000,8000.0,36 months,10.75%,260.97,B,B4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,C:/Users/User/Desktop/LoanData\LoanStats_secur...
3,76022756,NaN,25000,25000,25000.0,60 months,12.99%,568.70,C,C2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,C:/Users/User/Desktop/LoanData\LoanStats_secur...
4,76143291,NaN,35000,35000,35000.0,60 months,18.25%,893.54,D,D3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,C:/Users/User/Desktop/LoanData\LoanStats_secur...

In [27]:
mergeddata.shape

(1763061, 151)